@import '../../assets/scss/variables';
@mixin generic-navbar($theme) {
    padding: 0;
    margin: 0;
    height: 7vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $theme;
    font-size: 17px;
    opacity: 0.9;
    
    .logo {
        font-family:'Handlee', cursive;
        font-size: 28px;
        font-weight: 800;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }
    
    a:hover {
        font-size: 20px;
        font-weight: 700;
    }
    
    a.logo:hover {
        font-size: 32px;
        font-weight: 800;
    }    
}

.site-navbar {
    @include generic-navbar($color-theme);
}

.home-navbar {
    @include generic-navbar(transparent);
}
