
.container-pet{
    .flat-form-lomito{
    
    background-color:white;
    box-shadow: 0px 0px 12px rgba(0, 0,0,0.2);
    margin: 25px auto;//poner enmedio con margen
    width: 580px;
    height: 650px;
    font-size: 20px;
    border-radius: 6px; 
    color: #5b5b5b;   
}
.flat-form-lomito h2 {
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'handlee', cursive;
    }
    
    .flat-form-lomito p {
    
    font-size: 17px;
    padding-bottom: 5px;
    line-height: 20px;
    }
    
    form input[type=text],
    form input[type=password],
    form input[type=date]
    {
    width: 90%;
    height: 35px;
    font-size: 13px;  
    background: #fff;
    border: 1 px;
    outline: none;
    font-family: 'Arial';
    
    }

    .tabs-Lomito{
        height: 100px;
margin: 0;
padding: 10px;
list-style-type: none;
width: 100%;
position: relative;
display: block;
/*display: flex;
flex-direction: column;*/
margin-bottom: 0px;
    }
    .tabs-Lomito li{
        display: block;
        /* float: left;*/
        
        }
        .tabs-Lomito li:last-child {
        border-right: none;
        width: 174px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        }
        select{
            width: 91%;
    height: 35px;
    font-size: 13px;  
    background: #fff;
    border: 1 px;
    outline: none;
    font-family: 'Arial';
    color: #5b5b5b;
        }

        form input[type=submit] {
            margin: 30px auto;
            width: 100px; /*poner enmedio*/
            height: 40px;/*largo*/
            font-size: 15px;
            filter: blur(0.4px);
            display: flex;
            background: #55ACEE;
            border-radius: 5px;
            border: none;}


            form input[type=submit]:active{
                color: #3B5998;
                }
            form input[type=submit]:hover{
                font-size: 16px;
                opacity: 0.7;
        }
}